<div class="container">
  <h3>Danh Sach Phim</h3>
  <div class="row">
    <div class="col-md-4" *ngFor="let phim of mangPhim">
      <app-phim (eventXemChiTiet)="xemChiTiet($event)" [inputPhim]="phim">

      </app-phim>
    </div>
  </div>
</div>
<button (click)="doiTenPhim()" class="btn btn-danger">Đổi Tên Phim</button>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <!-- Modal body -->
      <div class="modal-body">
        {{phim.TenPhim}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>