<!-- <div class="row">
  <div class="col-md-12">
    <app-header></app-header>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <app-content></app-content>
  </div>
  <div class="col-md-4">
    <app-sidebar></app-sidebar>
  </div>
</div>
<div class="row">
  <div class="col-md-12">  
    <app-footer></app-footer>
  </div>
</div> -->

<!-- <app-one-way-binding></app-one-way-binding> -->
<!-- <app-baitap2></app-baitap2>
 -->
<!-- <app-structural></app-structural>
 <app-ng-switch></app-ng-switch> -->

<!-- <app-ng-for></app-ng-for> -->
<!-- <app-login></app-login> -->

<!-- <app-quanly-sp></app-quanly-sp> -->

<!-- <p appHightlight>ABC</p> -->
<!-- <button appHightlight mauchu = 'black'>BBB</button> -->

<!-- /Tao template de dung/ -->
<!-- <ng-container *ngTemplateOutlet="template"></ng-container> 
 <ng-template #template>
   <div>Noi dung template</div>
 </ng-template> -->
<!-- 
 <app-header>
   <p class="card-title display-4">header 1</p>
   <p class="card-name">Iphone X</p>
   <p class="card-price">30,000,000 vnd</p>
 </app-header>

 <app-header>
   <p class="card-title display-4">header 1</p>
   <p class="card-name">Iphone X</p>
   <p class="card-price">30,000,000 vnd</p>
 </app-header>

 <app-header>
   <p class="card-title display-4">header 1</p>
   <p class="card-name">Iphone X</p>
   <p class="card-price">30,000,000 vnd</p>
 </app-header> -->


<!-- <app-danh-sach-san-pham></app-danh-sach-san-pham> -->

<app-danhsachphim></app-danhsachphim>
