<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://s3img.vcdn.vn/mobile/123phim/2019/05/pokemon-tham-tu-pikachu-pokemon-detective-pikachu-15571191357049_220x310.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{inputPhim.TenPhim}}</h5>
      <p class="card-text">{{inputPhim.NoiDung}}</p>
      <a href="#" class="btn btn-primary">Dat Ve</a>
      <a href="#"  (click)="xemChiTiet()" class="btn btn-success" data-toggle="modal" data-target="#myModal">Xem Chi Tiet</a>
    </div>
  </div>